@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Manrope", sans-serif;
    color: #000;
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #34d399;
    --secondary-color: #10b981;
    --accent-color: #1f2937;
}

@media (max-width: 546px) {
    .hero {
        margin: 0 10%;
    }

    .heading p {
        font-size: 1rem;
        width: 98%;
    }

    .name-heading {
        font-size: 1.6rem;
        line-height: 50px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .description p {
        font-size: 0.8rem;
    }
    
    .paragraph-description p {
        font-size: 0.8rem;   
    }
    
    .button-container button {
        font-size: 1em;
    }

    .paragraph-description p {
        width: 98%;
        font-size: 0.8rem;
    }

    .paragraph-bottom {
        width: 85%;
    }

    .row-satu, .row-dua {
        flex-direction: column;
    }

    .job-description-wrapper {
        margin-top: 8px;
    }
    
    .job-description-container p {
        font-size: 0.9rem;
        width: 14em;
    }

    .profile .bubble {
        display: none;
    }

    .button-container button {
        font-size: 0.85em;
    }

    .logo-kanan svg {
        padding-right: 0.5em;
    }

    
}

@media (max-width: 647px) {
    .logo-kanan svg {
        display: flex;
        justify-content: flex-end;
        padding-right: 4em;
    }
    
    .navbar ul {
        padding-right: 0;
    }
    
    .navbar ul li a {
        display: none;
    }
}

.logo-nav-kiri {
  color: #000;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 3.2px;
}

.hamburger-menu {
    display: none;
}

.span-logo {
    color: var(--secondary-color);
    padding: 0;
    /* background-color: rgb(45, 174, 99, 14%); */
    border-radius: 24px;
}

.logo-kiri {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  /* column-gap: 10px; */
  font-size: 1.1rem;
}


.icon-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
}

.search-icon {
  stroke: var(--primary-color);
}

.search-icon:hover {
  cursor: pointer;
  stroke: #8d8d8d;
}

.user-icon {
  stroke: var(--primary-color);
}

.user-icon:hover {
  cursor: pointer;
  stroke: #8d8d8d;
}

.elemen-center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}


/* STYLE SEARCH BOX */
.elemen-center input {
  background-color: rgb(45, 174, 99, 2%);
  border: 1px solid var(--primary-color);
  padding: 4px 8px;
  width: 60%;
  padding: 10px 14px;
  border-radius: 24px;
}

/* Penyesuaian navbar agar posisinya tetap fix ketika website discroll */
.navbar {
  padding: 1.6em 1em;
  width: 100%;
  top: 0;
  left: 0;
  right: 1rem;
  z-index: 999;
  font-size: 0.9rem;
  position: fixed;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.030);
  background-color: rgb(255, 255, 255, 98%);
  backdrop-filter: blur(42px);
  mix-blend-mode: soft-light;
  border: 1px solid rgba(0, 0, 0, 0.080);
}

/* Memposisikan display list menu dari navbar menjadi sejajar dan flex-end */
nav ul {
    display: flex;
    /* column-gap: 20px; */
    list-style-type: none;
    padding-left: 2em;
    padding-right: 4em;
    justify-content: flex-end;
    align-items: center;
  }

  nav li a {
    display: block;
    color: #333;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }

  .menu {
    padding: 0.7em 1em;
    border-radius: 8px;
  }

  /* Membuat animasi perubahan warna dan posisi saat dihover pada menu navigation bar agar lebih terasa dinamis dan interaktif*/
  .menu:hover {
    transform: translateY(2.5px);
    color: var(--secondary-color);
    background-color: rgb(13, 221, 148, 12%);
    transition: ease-in-out 0.2s;
  }

.hero {
    margin: 0 10%;
}

.heading-dua p {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(0, 0, 0, 70%);
}

.int-span {
    font-weight: 400;
    color: rgb(0, 0, 0, 40%);
    font-size: 1rem;

}

.heading {
    font-size: 1rem;
}

.name-heading {
    /* padding: 4px 0; */
    font-size: 2rem;
}

.name-span {
    color: var(--primary-color);
    letter-spacing: -2px;
}

.heading-wrapper {
    padding: 0;
    margin-top: 10rem;
}

.paragraph {
    color: rgba(0, 0, 0, 50%);
    font-size: 0.9rem;
}

.paragraph-dua {
    width: 60%;
    text-align: left;
    font-weight: 300;
    margin-top: 10px;
    /* font-size: 0.9rem; */
    color: rgba(0, 0, 0, 40%);
}

.paragraph-description, .paragraph-dua {
    padding-top: 4px;
    font-size: 0.9rem;
}

.heading-wrapper {
    display: flex;
}

.profile {
    display: flex;
    align-items: center;
    width: 500px;
    transform: translateX(-50px);
}

.row-satu, .row-dua {
    display: flex;
    column-gap: 4px;
}

/* .job-description-wrapper {
    width: 380px;
} */

.job-description-container {
    background-color: rgba(37, 213, 122, 0.03);
    border-left: 6px solid rgba(37, 213, 122, 0.20);
    width: fit-content;
    border-radius: 8px;
    padding: 8px 10px;
    font-weight: 400;
    font-size: 1.05rem;
    line-height: 26px;
}

.i-am-a p {
    font-size: 1.25rem;
    padding: 8px 10px;
    font-weight: 500;
    color: rgba(31, 41, 55, 0.95);
}

/* .ui-ux, .frontend, .illustrator, .gr-designer p {
    color: rgba(0, 0, 0, 70%);
} */

.c-satu, .c-dua, .c-tiga, .c-empat {
    color: rgba(0, 0, 0, 50%);
}


.c-satu::before, .c-dua::before, .c-tiga::before, .c-empat::before {
    content: '|';
    color: rgba(0, 0, 0, 30%);
}

.ui-ux-designer-span, .frontend-span, .illustrator-span, .gr-designer-span {
    color: var(--secondary-color);
    font-weight: 500;
}

.button-container {
    display: flex;
    padding-top: 30px;
    gap: 20px;
}

.contact-button .overview-button, button {
    font-size: 0.9em;
    padding: 1em 3em;
    font-weight: 600;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: var(--primary-color);
    transition: 0.1s ease-in;
}

.contact-button {
    border: 1px solid rgb(13, 221, 148, 0%);
}

.overview-button {
    background-color: rgb(13, 221, 148, 0%);
    color: #202020;
    border: 1px solid rgb(31, 41, 55, 50%);
}

.overview-button:hover {
    color: #fff;
    background-color: var(--accent-color);
    border: 1px solid rgb(31, 41, 55, 0%);
}

.contact-button:hover, .overview-button:hover {
    cursor: pointer;
}

.contact-button:hover {
    background-color: var(--secondary-color);
}

.page-wrapper {
    margin-top: 5rem;
    height: 36em;
    background-color: var(--accent-color);
}

.project {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    padding-top: 30px;
    padding-bottom: 1.2rem;
}

.card-container {
    display: flex;
    margin-top: 30px;
    font-size: 0.6em;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.card-satu, .card-dua, .card-tiga, .card-empat {
    border-radius: 12px;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px;
    height: 300px;
    width: 150px;
    background-color: #0ddd94;
}